# autotools

Makefile.in

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
stamp-h1
include/config.h.in

/COPYING
/INSTALL

# autotools configure-time stuff
/config.status
/libtool
/libagg.pc
include/config.h
Makefile
!/Makefile
!/src/Makefile

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
examples/aa_demo
examples/aa_test
examples/alpha_gradient
examples/alpha_mask
examples/alpha_mask2
examples/alpha_mask3
examples/bezier_div
examples/bspline
examples/circles
examples/component_rendering
examples/compositing
examples/conv_contour
examples/conv_dash_marker
examples/conv_stroke
examples/distortions
examples/freetype_test
examples/gamma_correction
examples/gamma_ctrl
examples/gouraud
examples/gpc_test
examples/gradients
examples/graph_test
examples/idea
examples/image1
examples/image_alpha
examples/image_filters
examples/image_filters2
examples/image_fltr_graph
examples/image_perspective
examples/image_resample
examples/image_transforms
examples/line_patterns
examples/lion
examples/lion_lens
examples/lion_outline
examples/mol_view
examples/multi_clip
examples/pattern_fill
examples/pattern_perspective
examples/pattern_resample
examples/perspective
examples/polymorphic_renderer
examples/rasterizers
examples/rasterizers2
examples/raster_text
examples/rounded_rect
examples/scanline_boolean
examples/scanline_boolean2
examples/simple_blur
examples/trans_curve1
examples/trans_curve1_ft
examples/trans_curve2
examples/trans_curve2_ft
examples/trans_polar
examples/truetype_test

# Other temporary files
*~
.deps/
.libs/
*.log

# Visual Studio user-specific files
*.suo
*.user
*.sln.docstates

# Visual Studio build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio debugging stuff
*.pch
*.pdb
*.pgc
*.pgd

# More Visual Studio stuff
*.ilk

# Testing stuff (?)
*.ppm
gamma.*

# Other stuff in distclean that I don't even know what they do
*.aps
*.clw
*.ncb
*.opt
*.plg
*.idb
*.res

